<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>cssdoc</title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
</head>
<body>
  <%= yield %>
</body>
</html>
