html {
  background: url(/images/background.png)
}

body {
  width: 880px;
  margin: 0 auto;
  padding: 0 40px 100px;
  background: transparent;
}

header {
  h1 {
    line-height: 100px;
  }

  a {
    color: inherit;
  }
}

.document section {
  margin-bottom: 1em;
  padding: 20px;
  border: solid 1px #CCC;
  border-radius: 5px;
  background: white;
  box-shadow: inset 0 0 3px #DDD;
}
